services:
  postgres:
    image: postgres:alpine
    container_name: postgres-host
    network_mode: host  
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: test
    volumes:
      - ./postgres-data:/var/lib/postgresql/data